/* home.css */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.typing-effect {
    overflow: hidden;
    /* Ensures the text is clipped */
    border-right: .15em solid white;
    /* The caret */
    white-space: nowrap;
    /* Keeps the text on a single line */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background-color: white;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar-link {
    color: black;
    text-decoration: none;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #396d52;
    /* Tailwind's green-500 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 5rem;
    /* Add padding to avoid overlap with fixed navbar */
}

.title {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
}

.description {
    color: white;
    font-size: 1.25rem;
    margin-top: 1rem;
    /*animation: fadeIn 2s ease-in-out;*/
    /* Delay the animation by 1 second */
}

.animationt {
    animation: fadeIn 2s ease-in-out;
}

.image-container {
    margin-top: 2rem;
    margin-left: 2rem;
}

.image-circle {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
    /* Glowing effect */
}

.image-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    margin-right: 2rem;
}